<ul class="sidebar-nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/books">All Books</a></li>
    <li><a href="/catalog/bookinstances">All Book-Instances</a></li>
    <li><a href="/catalog/authors">All Authors</a></li>
    <li><a href="/catalog/genres">All Genres</a></li>
    <li><hr></li>
    <li><a href="/catalog/book/create">Create New Book</a></li>
    <li><a href="/catalog/bookinstance/create">Create New Book-Copy</a></li>
    <li><a href="/catalog/author/create">Create New Author</a></li>
    <li><a href="/catalog/genre/create">Create New Genre</a></li>
</ul>